.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("../image/background.png"); /* fixed path */
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

body {
    margin: 0;
}

.score{
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 8px rgb(255, 255, 255);
}

.team {
    padding: 10px 20px;
    border-radius: 10px;
}

.red {
    background: rgba(4, 24, 154, 0.7);
}
